.codex
.env
.gitattributes
.gitignore
.gradle
.idea
.vscode
build
docs
neo4j
out

*.iml
*.iws
*.ipr
*.log

Dockerfile.dev
AGENTS.md
HELP.md
docker-compose.yml
gradlew.bat
rabbitmq-definitions.json
src/test
