APP_ENV=prod
LLM_API_KEY=change-me

RABBITMQ_HOST=b-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.mq.ap-northeast-2.amazonaws.com
RABBITMQ_PORT=5671
RABBITMQ_USER=blogtree_worker
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=/
RABBITMQ_SSL=true

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
LANGFUSE_BASE_URL=
